.Rial-img{
    width: 150px;
    margin-left: 160px;
}
.header-h1{
    padding: none;
    text-align: center;
    color: rgb(16, 80, 126);
    background-color: rgb(158, 169, 165);
    margin-bottom: 0%;
}

.header-h2{
    padding: 0%;
    text-align: center;
    margin: 0%;
    color: rgb(16, 80, 126);
    background-color: rgb(158, 169, 165);
}

.head{
    background-color: #fcfcfb;
    width: 500px;
    margin: auto;
    
}
.about-me {
    

}
.about-h2{
    text-align: center;
    background-color: azure;
    color: red;
    padding: 0%;
}

.about-p{
    padding: 0%;
    background-color: rgba(185, 179, 235, 0.203);
    color: rgb(53, 50, 50);
    
}