@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}

/* this is header section */

.head {
  background-color: #326155;
  text-align: center;
}

.head img {
  width: 128px;
  height: 128px;
  margin-top: 30px;
}

.head h1 {
  color: white;
  background-color: #326155;
  padding: 20px;

  font-size: 48px;
  font-weight: 700;
  line-height: 56.25px;
  text-align: center;
}

/* this is blog section */

.content-sec {
  margin: 50px 350px;
}

.content {
  max-width: 583px;
  background: #d7f2ec;
  padding: 40px;
}

.content img {
  margin-bottom: 20px;
}

.content h2 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #326155;
}

.content p {
  text-align: justify;
  max-width: 500px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: justify;
}

.content a {
  text-align: center;
  background-color: #326155;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 11px 185px;
  margin: 0 auto;
  max-width: 583px;
}

/* this is footer section */

footer {
  margin: 0 auto;
  max-width: 1280px;
  font-weight: 700;
  text-align: center;
  background-color: #326155;
  color: white;
  padding: 10px;
}
